#controlsContainer {
  //width: 20rem;
  //height: 100%;
}

.textCenter {
  text-align: center;
}

#controls {
  padding: 1rem;
  width: 23rem;
  //display: flex;
  //justify-content: center;
  margin: auto;
  text-align: center;
}

#showToggleBtn {
  background-color: rgba(0,0,0,0.5);
  margin: 1rem;
  font-size: 3rem;
  bottom:0;
  right: 0;
  position: fixed;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem 0.75rem;
  cursor: pointer;
}
#slider{
  width: 90%;
}
#auxArrShowCB{

}
button{
  margin: 0.5rem
}
.sectionHeader{
  margin-top: 0.5rem;
  text-align: center;
}