.arrayContainer {
  background-color: black;
  width: 100%;
  height: 100%;
  //removed flex-box for optimization
  //display: flex;
  //align-items: flex-end;
  border-bottom: solid 2px black;
  position: relative;
  white-space: nowrap;
}
.bar{
  border: solid 1px black;
  border-bottom: 0;
  //width: 100%;
  background-color: white;
  display: inline-block;
  //float: left;
  //position: absolute;
  //bottom: 0;
  //margin-bottom: 0;
}
.dotContainer{
  display: inline-block;
  position: relative;
  //width: 100%;
  height: 100%;
}
.dot{
  margin: auto;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  left: -0.25rem;
}
.canvas{
  image-rendering: pixelated;
}